{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="hellowrld" />
</head>
<body style="background-color: aqua;">
  <div id="home" class="content">
    <h2>About Us</h2>
    <p>we are here to guide you about your future future under the mentership  of our great menters.</p>
    <h3>our profile</h3>
    <p></p>
    <ul style="color:brown">
      <li>to solve your doubts;</li>
      <li>recorded classes;</li>
      <li>live sessions;</li>
      <li>group discussion.</li>
    </ul>
    <br>
    <p>our team is only here for your career guidence we provide you a better fecilities.</p>
  </div>
      <div id="samples" class="panel">
    <div class="content">
      <h2>about team</h2>
      <p>we have a very helpfull and well behaviour team members:</p>
    </div>
  </div>
  <div id="offers" class="panel">
    <div class="content">
      <h2>Special Offers</h2>
      <p>we are give you a 70% off on our courses for first 100 members:</p>
    </div>
  </div>
  <div id="contact" class="panel">
    <div class="content">
      <h2>Contacts</h2>
      <p>you will contect us through phone number and email.</p>
     >
    </div>
  </div>
  <div id="header">
    <h1>LOGO <span>slogan</span></h1>
    <ul id="navigation">
      <li><a id="link-home" href="header" class="button-1">About US</a></li>
      <li><a id="link-samples" href="myteam" class="button-1">my team</a></li>
      <li><a id="link-offers" href="offers" class="button-1">Special Offers</a></li>
      
      
      <li><a id="link-contact" href="footer" class="button-1">Contacts</a></li>
      
      <li><a id="link-offers" href="recorded_sessions" class="button-1">recorded sessions</a></li>
      <li><a id="link-offers" href="login" class="button-1">logout</a></li>


      
    </ul>
  </div>
</body>
</html>
{% endblock %}